<!-- 
#############################################################################
# Name : settings.component.html
# Created by : Arvind Yadav
# Date       : 1st Sept 2023
# Purpose    : This file is used to design the settings section
#############################################################################
-->
<div class="row">
    <div class="d-none d-md-block col-md-4 col-lg-2 pe-0 tooglesideBarMenu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-8 col-lg-10 ps-0 headerToggle">
        <app-header></app-header>
        <div class="dashboard-main-content">
            <div class="top-area-table title">
             <p>Settings Feature Coming Soon</p>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>