<!-- 
#############################################################################
# Name : sidebar.component.html
# Created by : Arvind Yadav
# Date       : 1st Sept 2023
# Purpose    : This file is used to design the sidebar section
#############################################################################
-->
<div class="main-sidebar d-none d-md-block">
    <div class="d-flex justify-content-between align-items-center">
        <p class="theShield d-none d-md-block">TheShield</p>
        <p class="d-md-none d-block">Sidebar</p>
        <p (click)="toggleSideBar()" style="cursor: pointer;" class="sidebarToggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path
                    d="M1.33333 8.50002C1.33333 6.73191 2.0357 5.03622 3.28595 3.78597C4.53619 2.53573 6.23188 1.83335 7.99999 1.83335C8.87547 1.83335 9.74238 2.00579 10.5512 2.34082C11.3601 2.67585 12.095 3.16692 12.714 3.78598C13.9643 5.03622 14.6667 6.73191 14.6667 8.50002C14.6667 10.2681 13.9643 11.9638 12.714 13.2141C11.4638 14.4643 9.7681 15.1667 7.99999 15.1667C7.12451 15.1667 6.2576 14.9942 5.44877 14.6592C4.63993 14.3242 3.905 13.8331 3.28595 13.2141C2.66689 12.595 2.17582 11.8601 1.84079 11.0512C1.50576 10.2424 1.33332 9.3755 1.33333 8.50002ZM12 7.83335L6.66666 7.83335L8.99999 5.50002L8.05332 4.55335L4.10666 8.50002L8.05332 12.4467L8.99999 11.5L6.66666 9.16669L12 9.16669L12 7.83335Z"
                    fill="#6B7076" />
            </svg>
        </p>
    </div>

    <div class="vertical-menu">
        <a href="" class="ps-1 ps-md-4 dashboardData">Overall Dashboard</a>
        <a class="dropdown-target ps-1 ps-md-4">
            <div>
                Assessments
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_39_17)">
                        <path d="M7 10L12 15L17 10H7Z" fill="#6B7076" />
                    </g>
                    <defs>
                        <clipPath id="clip0_39_17">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </a>
        <a href="IT" class="dropdown-container ps-1 ps-md-4 itdata">IT</a>
        <a href="OT" class="dropdown-container ps-1 ps-md-4 otdata">OT</a>
        <a href="Settings" class="dropdown-container ps-1 ps-md-4 settingdata">Settings</a>
    </div>
</div>

<div class="main-sidebar d-md-none">
    <div class="d-flex justify-content-between align-items-center">
    </div>

    <div class="vertical-menu  pt-0">
        <a href="" class="active ps-1 ps-md-4 dashboarddata">Overall Dashboard</a>
        <a class="dropdown-target ps-1 ps-md-4">
            <div>
                Assessments
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_39_17)">
                        <path d="M7 10L12 15L17 10H7Z" fill="#6B7076" />
                    </g>
                    <defs>
                        <clipPath id="clip0_39_17">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </a>
        <a href="IT" class="dropdown-container ps-1 ps-md-4 itdata">IT</a>
        <a href="OT" class="dropdown-container ps-1 ps-md-4 otdata">OT</a>
        <a href="Settings" class="dropdown-container ps-1 ps-md-4 settingdata">Settings</a>
    </div>
</div>