/*
#############################################################################
# Name : home.component.css
# Created by : Arvind Yadav
# Date       : 1st Sept 2023
# Purpose    : This file is used to design the implement the home section file
#############################################################################
*/
.toggle{
    display: none !important;
}
.headertoggle{
    width: 100% !important;
}
.toggleblock{
    display: block !important;
}



