<!-- 
#############################################################################
# Name : main.component.html
# Created by : Arvind Yadav
# Date       : 2nd Sept 2023
# Purpose    : This file is used to design the amin dashboard file
#############################################################################
-->
<div class="header-main-dashboard" style="overflow-y: auto">
  <div class="dashboard-table-data row gap-0">
    <div class="col-12 col-md-6 col-lg-4 g-2">
      <div class="top-area-table h-100">
        <div class="title">
          <p>Top Sales Report</p>
          <h5>View more</h5>
        </div>
        <div class="border-divider"></div>
        <canvas
          baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
        >
        </canvas>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 g-2">
      <div class="top-area-table h-100">
        <div class="title">
          <p>Units progression</p>
        </div>
        <div class="border-divider"></div>
        <div style="display: block">
          <canvas
            baseChart
            width="300"
            height="300"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 g-2">
      <div class="top-area-table h-100">
        <div class="title">
          <p>Domain maturity</p>
        </div>
        <canvas
          baseChart
          height="300"
          [datasets]="polarAreaChartDatasets"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [options]="polarAreaOptions"
          [type]="'polarArea'"
        >
        </canvas>
      </div>
    </div>
  </div>
  <div class="dashboard-table-data row gap-0">
    <div class="col-12 g-2">
      <div class="top-area-table h-100">
        <div class="title">
          <p>Progress Report</p>
          <button class="btnUpdate" (click)="randomize()">Update</button>
        </div>
        <canvas
          class="chart"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
